# Projeto 1 - Modelo de Classificação

### Projeto realizado por :

#### 
* Cosmin Trandafir - 57101
* Martim Baptista - 56323
* João Serafim - 56376
* Martim Paraíba - 56273
***

### Neste projeto vamos usar o dataset: ***biodegradable_a.cvs***

In [6]:
import pandas as pd

bio_file = pd.read_csv("biodegradable_a.csv")
features = bio_file.columns.to_list()
bio_file

,SpMax_L,J_Dz(e),nHM,F01,F04,NssssC,nCb,C,nCp,nO,...,C_026,F02_CN,nHDon,SpMax_B,Psi_i_A,nN,SM6_B,nArCOOR,nX,Biodegradable
0,3.919000,2.690900,0.0,0.0,0.0,0.0,0.0,31.400000,2.0,0.0,...,0.0,0.0,0.0,2.949000,1.591000,0.0,7.253000,0.0,0.0,RB
1,4.170000,2.114400,0.0,0.0,0.0,0.0,0.0,30.800000,1.0,1.0,...,0.0,0.0,0.0,3.315000,1.967000,0.0,7.257000,0.0,0.0,RB
2,3.932000,3.251200,0.0,0.0,0.0,0.0,0.0,26.700000,2.0,4.0,...,0.0,0.0,1.0,NaN,2.417000,0.0,7.601000,0.0,0.0,RB
3,3.000000,2.709800,0.0,0.0,0.0,0.0,0.0,20.000000,NaN,2.0,...,0.0,0.0,1.0,NaN,5.000000,0.0,6.690000,0.0,0.0,RB
4,4.236000,3.394400,0.0,0.0,0.0,0.0,0.0,29.400000,2.0,4.0,...,0.0,0.0,0.0,3.351000,2.405000,0.0,8.003000,0.0,NaN,RB
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4559,4.175650,3.454649,0.0,0.0,0.0,0.0,0.0,27.300000,2.0,2.0,...,0.0,0.0,0.0,3.398382,3.241090,0.0,7.406748,0.0,0.0,RB
4560,3.853731,2.747142,0.0,NaN,0.0,0.0,0.0,33.300000,0.0,0.0,...,0.0,0.0,1.0,3.429148,2.719309,0.0,7.511511,0.0,0.0,RB
4561,4.294771,3.471226,0.0,0.0,0.0,0.0,0.0,28.422154,2.0,2.0,...,0.0,0.0,0.0,3.351666,2.729456,0.0,7.699324,0.0,0.0,RB
4562,4.560376,3.896390,0.0,0.0,0.0,0.0,0.0,NaN,2.0,3.0,...,0.0,0.0,0.0,NaN,3.059198,0.0,7.908802,0.0,0.0,RB
4563,4.045097,2.847185,0.0,0.0,0.0,0.0,0.0,23.386643,1.0,1.0,...,0.0,2.0,2.0,3.032224,2.613357,1.0,6.863314,0.0,0.0,RB

In [11]:
new_bio = bio_file.dropna("index")
new_bio

<bound method DataFrame.dropna of        SpMax_L   J_Dz(e)  nHM  F01  F04  NssssC  nCb          C  nCp   nO  \
0     3.919000  2.690900  0.0  0.0  0.0     0.0  0.0  31.400000  2.0  0.0
1     4.170000  2.114400  0.0  0.0  0.0     0.0  0.0  30.800000  1.0  1.0
2     3.932000  3.251200  0.0  0.0  0.0     0.0  0.0  26.700000  2.0  4.0
3     3.000000  2.709800  0.0  0.0  0.0     0.0  0.0  20.000000  NaN  2.0
4     4.236000  3.394400  0.0  0.0  0.0     0.0  0.0  29.400000  2.0  4.0
...        ...       ...  ...  ...  ...     ...  ...        ...  ...  ...
4559  4.175650  3.454649  0.0  0.0  0.0     0.0  0.0  27.300000  2.0  2.0
4560  3.853731  2.747142  0.0  NaN  0.0     0.0  0.0  33.300000  0.0  0.0
4561  4.294771  3.471226  0.0  0.0  0.0     0.0  0.0  28.422154  2.0  2.0
4562  4.560376  3.896390  0.0  0.0  0.0     0.0  0.0        NaN  2.0  3.0
4563  4.045097  2.847185  0.0  0.0  0.0     0.0  0.0  23.386643  1.0  1.0

      ...  C_026  F02_CN  nHDon   SpMax_B   Psi_i_A   nN     SM6_B  nArCOOR  \
0     ...    0.0     0.0    0.0  2.949000  1.591000  0.0  7.253000      0.0
1     ...    0.0     0.0    0.0  3.315000  1.967000  0.0  7.257000      0.0
2     ...    0.0     0.0    1.0       NaN  2.417000  0.0  7.601000      0.0
3     ...    0.0     0.0    1.0       NaN  5.000000  0.0  6.690000      0.0
4     ...    0.0     0.0    0.0  3.351000  2.405000  0.0  8.003000      0.0
...   ...    ...     ...    ...       ...       ...  ...       ...      ...
4559  ...    0.0     0.0    0.0  3.398382  3.241090  0.0  7.406748      0.0
4560  ...    0.0     0.0    1.0  3.429148  2.719309  0.0  7.511511      0.0
4561  ...    0.0     0.0    0.0  3.351666  2.729456  0.0  7.699324      0.0
4562  ...    0.0     0.0    0.0       NaN  3.059198  0.0  7.908802      0.0
4563  ...    0.0     2.0    2.0  3.032224  2.613357  1.0  6.863314      0.0

       nX  Biodegradable
0     0.0             RB
1     0.0             RB
2     0.0             RB
3     0.0             RB
4     NaN             RB
...   ...            ...
4559  0.0             RB
4560  0.0             RB
4561  0.0             RB
4562  0.0             RB
4563  0.0             RB

[4564 rows x 42 columns]>